body{
padding:20px;
}
div{
font-family:sans-serif;
}
h1{
font-size:41px;
}
.one{
  border: 1px solid grey;
  margin: 0;
  
}
.two{
font-size:19.5px;
}
img{
border-radius: 50%;
width: 240px;
height: 270px;

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.align{
text-align: center;
}
.color{
background-color:#D3D3D3;
padding:0.3px;

}
.four{
padding-left: 50px;
}